
#bg {
    background-image: url("images/bgPic.jpg");
    background-repeat: repeat-y; /* for vertical repeat */
    background-size: cover;
}
#wrapper{
  width: 1024px;
  height: 100vh;
  align-items: center;
  margin: 0 auto;
}
#box{
  /*width: 900px;
  height: 900px;
  margin: 0 auto;*/
  padding-top: 20%;
}
.bubble{
  width: 200px;
  height: 200px;
  color: white;
  border-radius: 50%;
  display: inline-block;
  transition: transform 0.5s;
}
#air{
  background-color: black;
  background: radial-gradient(circle at 100px 100px, #8188c1, #2c2f49);
  box-shadow: 0 8px 20px -6px black;
}
#air:hover{
  transform: scale(1.5);
}
#activity{
  background-color: #e6474a;
  background: radial-gradient(circle at 100px 100px, #ff7a7c, #c61b1e);
  box-shadow: 0 8px 20px -6px black;
}
#activity:hover{
  transform: scale(1.5);
}
#camera{
  background-color: #8e384a;
  background: radial-gradient(circle at 100px 100px, #e25a77, #7a2537);
  box-shadow: 0 8px 20px -6px black;
}
#camera:hover{
  transform: scale(1.5);
}
#divs{
  background-color: #523649;
  background: radial-gradient(circle at 100px 100px, #ba84a8, #523649);
  box-shadow: 0 8px 20px -6px black;
}
#divs:hover{
  transform: scale(1.5);
}
#create{
  background-color: #b295a8;
  background: radial-gradient(circle at 100px 100px, #d8bccf, #75616e);
  box-shadow: 0 8px 20px -6px black;
}
#create:hover{
  transform: scale(1.5);
}
p{
  font-family: 'Roboto', sans-serif;
  color: white;
  line-height: 1.3;
  //text-shadow: 1px 1px 2px 	#808080;
}
.bubble p{
text-transform: uppercase;
text-align: center;
padding-top: 70px;
font-size: 20px;
}




/* AIR */
#airWrapper{
  background-color: #2c2f49;
  position: absolute;
  width: 100vw;
}
.wrapper{
  //margin-top: 80%;
}
.headline{
  width:60px;
  height:50px;
  margin-left: 424px;
}
#pressure{
  width: 125px;
  height: 200px;
  text-align: center;
  margin-bottom: 10%;
}

/* ACTIVITY */
.headline2{
  width:60px;
  height:50px;
  margin-left: 380px;
}
#box2{
  width: 1000px;
  height: 300px;
  margin: 0 auto;
}
#radett, #radtva{
  width: 800px;
  margin: 0 auto;
}
#light, #movement{
   width: 380px;
  height: 200px;
  text-align: center;
  margin-bottom: 10%;
}

/* DIVS */
.headline3{
  width:220px;
  height:50px;
  margin-left: 390px;
}



.charts{
  /*width: 300px;
  height: 200px;
  margin: 0 auto;*/
  display: inline-block;
}
#temp, #humidity, #sound, #distance, #number {
  width: 380px;
  height: 200px;
  text-align: center;
  margin-bottom: 10%;
}

#temp img, #humidity img, #light img, #movement img, #sound img, #number img{
  width: 300px;
  //height: 100px;
  display: block;
}
#pressure img, #distance img{
  width: 150px;
  //height: 100px;
  margin: 0 auto;
  align-items: center;
  display: block;
}




/* LINKS */
a:link {
    color: white;
    text-decoration: none;
}

/* visited link */
a:visited {
    color: white;
    text-decoration: none;
}

/* mouse over link */
a:hover {
    color: white;
    text-decoration: none;
}

/* selected link */
a:active {
    color: white;
    text-decoration: none;
}



/* SMALL NAVBAR */
.vertical-menu {
    width: 50px;
  height: 50px;
  color: white;
  border-radius: 50%;
  display: block;
    margin-top: 15%;

}
/* .vertical-menu a {
    background-color: #eee;
    color: black;
    display: block;
    padding: 12px;
    text-decoration: none;
} */
.vertical-menu a:hover {
    color: white;
    text-decoration: none;
}
.vertical-menu a.active {
    color: black;
    text-decoration: none;

}
.bubble2{
  width: 50px;
  height: 50px;
  color: white;
  border-radius: 50%;
  display: block;
  transition: transform 0.5s;
}
.bubble2 p{
text-transform: uppercase;
text-align: center;
padding-top: 20px;
font-size: 8px;
}
#box2{
   margin-top: -20%;
}


/* SOUND */
/*
body {
  font: 10px sans-serif;
}
*/

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path {
  display: none;
}

.area {
  fill: steelblue;
}
